[buildout]

extensions=buildout.minitagificator
parts =
    script
    testrunner
develop = ${buildout:directory}

[testrunner]
recipe = zc.recipe.testrunner
eggs = minitage.recipe.cmmi [test]

[script]
recipe=minitage.recipe.scripts
eggs=ipython
     minitage.recipe.cmmi [test]
     zest.releaser


[versions]
zc.recipe.egg=1.3.2
zc.buildout=1.6.3
